@charset "UTF-8";
#fullpage {
  overflow-y: scroll;
}
#fullPage-nav li {
  width: 70px;
  height: 20px;
}
#fullPage-nav li a {
  float: right;
  width: 20px;
  height: 20px;
  background-image: url("../../images/images/dot.png");
  background-position: 5px 5px;
  background-repeat: no-repeat;
}
#fullPage-nav li .active {
  background-position: 0 bottom;
}
#fullPage-nav span {
  display: none;
}
.fullPage-tooltip {
  color: #000000;
  font-family: "Microsoft Yahei";
  line-height: 20px;
  margin-right: 5px;
}
.bcgd {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.bcgd img {
  display: block;
  width: 100%;
  height: 100%;
}
.sec1 {
  position: relative;
  overflow: hidden;
}
.sec1 .bg12 {
  position: absolute;
  bottom: -292px;
  width: 100%;
  height: 392px;
  background-image: url("../../images/images/bg12.png");
  background-position: 50% 0;
  background-repeat: no-repeat;
  opacity: 0;
  transition: all 1.7s;
}
.sec1 .bg13 {
  position: absolute;
  bottom: -377px;
  width: 100%;
  height: 377px;
  background-image: url("../../images/images/bg13.png");
  background-position: 50% 0;
  background-repeat: no-repeat;
  transition: all 1s;
}
.sec1 .mail {
  position: absolute;
  left: 50%;
  top: -25px;
  width: 375px;
  height: 26px;
  margin-left: -187px;
  background-image: url("../../images/images/logo.png");
  transition: all 1s;
  text-indent: -9999px;
}
.sec1 .mail .mail-163 {
  float: left;
  width: 107px;
}
.sec1 .mail .mail-126 {
  float: left;
  width: 108px;
  margin-left: 23px;
}
.sec1 .mail .mail-yeah {
  float: right;
  width: 115px;
}
.sec1 .hgroup {
  position: absolute;
  top: 130px;
  left: 30%;
  width: 554px;
  height: 550px;
}
.sec1 .hgroup h1 {
  display: block;
  height: 176px;
  width: 100%;
  text-indent: -9999px;
  background-image: url("../../images/images/slogan.png");
  transform: scale(0.3);
  opacity: 0;
  transition: all 1s;
}
.sec2 {
  position: relative;
  overflow: hidden;
}
.sec3 {
  position: relative;
  overflow: hidden;
}
.sec3 .bg21 {
  position: absolute;
  bottom: -30px;
  left: 180px;
  width: 233px;
  height: 250px;
  background-image: url("../../images/images/bg21.png");
  transition: all 1s;
  opacity: 0;
}
.sec3 .bg23 {
  position: absolute;
  bottom: -170px;
  left: 293px;
  width: 819px;
  height: 325px;
  background-image: url("../../images/images/bg23.png");
  transition: all 1s;
  opacity: 0;
}
.sec3 .bg22 {
  position: absolute;
  bottom: 0;
  right: 230px;
  width: 211px;
  height: 299px;
  background-image: url("../../images/images/bg22.png");
  opacity: 0;
  transition: all 1s;
}
.sec3 .simp_des {
  display: inline-block;
  position: absolute;
  left: 27%;
  top: 110px;
  font-size: 23px;
  font-family: "Microsoft Yahei";
  color: rgba(0, 0, 0, 0.47);
}
.sec3 .simp_logo {
  position: absolute;
  left: 27%;
  top: 180px;
  width: 513px;
  height: 45px;
  background-image: url("../../images/images/t2.png");
}
.sec3 .simp_detail {
  position: absolute;
  left: 27%;
  top: 350px;
  width: 515px;
  height: 150px;
  opacity: 0;
  transition: all 1s;
}
.sec3 .simp_detail span {
  font-size: 16px;
  font-family: "Microsoft Yahei";
  color: rgba(0, 0, 0, 0.47);
  line-height: 2em;
}
.sec4 {
  position: relative;
  overflow: hidden;
}
.sec4 .view_des {
  display: inline-block;
  position: absolute;
  left: 27%;
  top: 110px;
  font-size: 23px;
  font-family: "Microsoft Yahei";
  color: rgba(245, 212, 121, 0.79);
}
.sec4 .view_logo {
  position: absolute;
  left: 27%;
  top: 180px;
  width: 513px;
  height: 45px;
  background-image: url("../../images/images/t3.png");
}
.sec4 .bg31 {
  position: absolute;
  bottom: -120px;
  left: 400px;
  width: 892px;
  height: 472px;
  background-image: url("../../images/images/bg31.png");
  background-position: 50% 0;
  background-repeat: no-repeat;
  opacity: 0;
  transition: all 1s;
}
.sec4 .bg33 {
  position: absolute;
  bottom: -190px;
  right: 0;
  width: 441px;
  height: 380px;
  background-image: url("../../images/images/bg33.png");
  transition: all 0.5s;
  opacity: 0;
}
.sec4 .view_detail {
  position: absolute;
  left: -150px;
  top: 350px;
  width: 425px;
  height: 150px;
  transition: all 1s;
  opacity: 0;
}
.sec4 .view_detail span {
  font-size: 16px;
  font-family: "Microsoft Yahei";
  color: white;
  line-height: 1.5em;
}
.sec5 {
  position: relative;
  overflow: hidden;
}
.sec5 .bg41 {
  position: absolute;
  left: 50px;
  bottom: -100px;
  width: 1228px;
  height: 372px;
  background-image: url("../../images/images/bg41.png");
}
.sec5 .bg42 {
  position: absolute;
  left: 100px;
  bottom: -200px;
  width: 1156px;
  height: 449px;
  opacity: 0;
  transition: all 1s;
  background-image: url("../../images/images/bg42.png");
}
.sec5 .bg43 {
  position: absolute;
  left: 140px;
  bottom: 0;
  width: 1019px;
  height: 248px;
  background-image: url("../../images/images/bg43.png");
}
.sec5 .skin_dymc {
  display: inline-block;
  position: absolute;
  left: 27%;
  top: 110px;
  font-size: 23px;
  font-family: "Microsoft Yahei";
  color: rgba(118, 175, 245, 0.85);
}
.sec5 .skin_logo {
  position: absolute;
  left: 27%;
  top: 180px;
  width: 512px;
  height: 45px;
  background-image: url("../../images/images/t4.png");
}
.sec5 .skin_detail {
  position: absolute;
  left: 27%;
  top: 100px;
  width: 515px;
  height: 150px;
  opacity: 0;
  transition: all 1s;
}
.sec5 .skin_detail span {
  font-size: 16px;
  font-family: "Microsoft Yahei";
  color: rgba(0, 0, 0, 0.5);
  line-height: 1.5em;
}
.active .bg12 {
  bottom: -40px;
  opacity: 1;
  transition-delay: 0.7s;
}
.active .bg13 {
  bottom: -90px;
  opacity: 1;
  transition-delay: 0.7s;
}
.active .mail {
  transition-delay: 0.7s;
  top: 50px;
}
.active .hgroup h1 {
  transition-delay: 0.7s;
  opacity: 1;
  transform: scale(1);
}
.active .bg31 {
  opacity: 1;
  transition-delay: 0.7s;
}
.active .bg33 {
  right: 250px;
  transition-delay: 0.7s;
  opacity: 1;
}
.active .view_detail {
  transition-delay: 0.7s;
  left: 150px;
  opacity: 1;
}
.active .simp_detail {
  transition-delay: 0.7s;
  top: 250px;
  opacity: 1;
}
.active .skin_detail {
  transition-delay: 0.7s;
  top: 240px;
  opacity: 1;
}
.active .bg42 {
  bottom: -100px;
  transition-delay: 0.7s;
  opacity: 1;
}
.active .bg23 {
  opacity: 1;
  transition-delay: 0.7s;
  bottom: -70px;
}
.active .bg21 {
  opacity: 1;
  transition-delay: 0.7s;
  left: 80px;
}
.active .bg22 {
  opacity: 1;
  transition-delay: 0.7s;
  right: 130px;
}
